.container{
    margin-top: 3rem;
}
.error{
    color: red;
}
.date-input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}