.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
    border-right: 1px #fbfbfb solid;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.main-logo {
    text-align: center;
}
.main-logo-text{
    color: #10c838 !important;
    text-decoration: none;
}

.sidebar-element {
    color: #10c838;
}

.list-group-item {
    cursor: pointer;
}
.card{
    cursor: pointer;
}
.card-img-top{
    height: 15rem;
    object-fit: cover;
}
.card img {
    filter: brightness(100%);
    transition: filter 0.3s ease;
}
.card:hover img{
    filter: brightness(80%);
}
.title{
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.0rem;
    max-height: 2.0rem;
    height: 2.0rem;
}
.organization-name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: grey;
}
.progress-bar{
    background-color: #7CD2B3 !important;
}
.percentage{
    color: #7CD2B3;
}
#btn-more{
    background-color: #F5F5F5;
}